body {
    background-image: url(img/background.png);
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quote {
    color:white;
}

.quote .card-header {
    text-align: center;
    position: relative;
}

.quote .icon {
    position: absolute;
}

.card_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    margin-top: 2em;
    text-align: center;
}

.single_card {
    flex: 0 0 calc((100% / 3) - 1em);
    z-index: 50;
    position: relative;
    background-color: black;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 1em;
    height: fit-content;
    width: fit-content;
    margin-bottom: 1.5em;
}

.single_card img{
    border-radius: 15px;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #ffffff00 0%, #000000 100%);
    border-radius: 13px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.info h2, .info p {
    margin: 0px;
}

h5 {
    margin: 0px;
}
